body
{
   
    background-image:url(cloture.jpg);
    
}   
/* ------------------------------------------------------------------*/





/* ------------------------------------------------------------------*/

.titre
{

     font-family: comic sans MS;
     font-size: 25px;
     text-align: center;
     font-style: italic;
     width: 100%; /*  largeur du cadre  */
     padding:5px 15px; /*  bordure texte en haut et bas / droite et gauche  */
     margin: 0 auto;
      color: #2a1c10;
}

/* ------------------------------------------------------------------*/

.t1
{
    
     font-family: comic sans MS; /* famille police*/
     font-size: 15px; /* hauteur police*/
     margin:10px ; /* marge entre bas tableau et cadre inférieur*/
     border: ridge #6495ed; /* cadre tableau*/
     padding:5px 15px; /*  bordure texte en haut et bas / droite et gauche  */
     width: 70%; /*  largeur du cadre  */
     margin-left: auto;  /*    Centrage du cadre à gauche  */
     margin-right: auto;   /*  Centrage du cadre à droite  */
     text-align: center;
     border-radius: 20px;
     border: 3px solid #104587;

}

/* ------------------------------------------------------------------*/
.conteneur{
  width: 300px;
  height: 300px;
  border: 1px #aaa solid;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

/* ------------------------------------------------------------------*/

 .mousses
{
      width: 15%; /*  largeur du cadre */ 
      font-family: comic sans MS;
      font-size: 18px;
      margin:30px ; /* marge entre bas tableau et cadre inférieur*/
      padding:15px 20px; /*  bordure texte en haut et bas / droite et gauche  */
      border-radius: 20px;
      border: 3px solid #104587;
}


/* ------------------------------------------------------------------*/

.t3
{
    margin-left: auto;  /*    Centrage du cadre à gauche  */
    margin-right: auto;   /*  Centrage du cadre à droite  */   
}




.t2
{
    margin-left: auto;  /*    Centrage du cadre à gauche  */
    margin-right: auto;   /*  Centrage du cadre à droite  */   
}

/* ------------------------------------------------------------------*/


/* -----------------------------------------------------------------*/


h2
{
   font-style: italic;
   text-align: center;
   font-size: 35px;
   color: #2a1c10;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto }


IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }


* ------------------------------------------------------------------*/

.boite-tirets
{ 
  position: relative;
  z-index: 1;
  margin-bottom: 1em;
  margin-top: 2em;
}

.boite-doree 
{ 
  position: absolute;
  z-index: 2; /* .boite-doree sera au-dessus de .boite-verte et .boite-tirets */
  width: 80%;
  left: 160px;
  top: 20px;
}

  .boite-verte 
{ 
  position: absolute;
  z-index: 1; /* .boite-verte sera au-dessus de .boite-tirets */
  width: 80%;
  left: 160px;
  top: 40px;
  height: 7em;
  opacity: 0.9;
}










