 body {
                font-family: times new roman,snell roundhand,edwardian script ITC,Arial, sans-serif;
                font-size: 20px; /*hauteur police*/
                background-color: #300000;
                margin: 0;
                padding: 20px;

            }
            .histoire{
                max-width: 800px;
                margin: 0 auto;
                 background-color: #fffff1;
               /* background-color: white;*/
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
            h2 {
                text-align: center;
                color: #300000; /* Marron pour un côté gourmand */
                font-family: snell roundhand, arial, comic sans MS;
                font-size: 50px; /*hauteur police*/
            }


            .cadre {
                border: 2px solid #300000;
             /*   border: 2px solid #8B4513;*/
                border-radius: 10px;
                padding: 15px;
                margin: 15px 0;
                background-color: #fffaf0; /* Fond légèrement crème */
            }
            .cadre h4 {
                margin-top: 0;
                color: #300000;
                text-align: center;
                font-family: snell roundhand, arial, comic sans MS;
                font-size: 30px; /*hauteur police*/
            }
            ul, ol {
                margin-left: 20px;
            }
            .img {
                text-align: center;
                margin-top: 20px;
            }
            .img img {
                border: none;
            }

           .texte-rouge {
                color: red;
           }


            .recette {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .td1 {
    text-align: left;
}
